<%= form_for(@child, url: edit_child_path) do |f| %>
  <div class='field'>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class='field'>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>