<h3><%= @class_room.name %></h3>
<table>
  <tr>
    <th width="350px">Student Name</th>
    <th></th>
  </tr>
<% @class_room.children.order(:last_name).each do |c| %>
  <tr>
    <% if flash[:child_id] == c.id %>
    <td class="new"><%= c.first_name  %> <%= c.last_name %> </td>
    <% else %>
      <td class='name'><%= c.first_name  %> <%= c.last_name %></td>
    <% end %>  
    <td> <%= button_to "remove", remove_from_class_path(c), method: :put %> <td>
  </tr>
<% end %>
</table>
<h4>See the <%= link_to 'class list', class_rooms_path %> for more.</h4>

